<header class="header">
    <h1>Tera Raid Info</h1>
    <div class="dropdowns">
        <app-raid-tier></app-raid-tier>
        <app-pokemon-list></app-pokemon-list>
        <app-tera-type></app-tera-type>
        <app-share-raid></app-share-raid>
    </div>
</header>
<article class="content">
	<div id="pokemon">
        <div class="pokemonImageWrapper">
            <app-pokemon-images></app-pokemon-images>
        </div>
        <app-pokemon-types></app-pokemon-types>
    </div>
    <app-pokemon-stats></app-pokemon-stats>
    <app-pokemon-ability></app-pokemon-ability>
    <app-pokemon-moves></app-pokemon-moves>
    <app-pokemon-herbs id="pokemonHerbs"></app-pokemon-herbs>
    <app-pokemon-type-matchups class="pokemonTypesWrapper"></app-pokemon-type-matchups>
</article>
<footer class="footer">
    Created by: <a href="https://github.com/kyle-undefined" target="_blank">Kyle Undefined</a> - 
    Design by: CronikCRS - 
    Data & Images by: <a href="https://www.serebii.net/" target="_blank">Serebii.net</a> - 
    Icon by: <a href="https://www.flaticon.com/authors/creatype" target="_blank">Creatype - Flaticon</a>
</footer>