<header class="header">
    <h1>Tera Raid Info</h1>
    <div class="dropdowns">
        <app-raid-tier></app-raid-tier>
        <app-pokemon-list></app-pokemon-list>
        <app-tera-type></app-tera-type>
        <app-share-raid></app-share-raid>
    </div>
</header>
<div id="dataLoading" hidden="true"><img src="./assets/icons/pokeball.gif" /></div>
<div id="pokemonContent" class="content" hidden="false">
	<div id="pokemon">
        <div class="pokemonImageWrapper">
            <app-pokemon-images></app-pokemon-images>
        </div>
        <app-pokemon-types></app-pokemon-types>
    </div>
    <app-pokemon-stats></app-pokemon-stats>
    <app-pokemon-ability></app-pokemon-ability>
    <app-pokemon-moves></app-pokemon-moves>
    <app-pokemon-actions id="pokemonActions"></app-pokemon-actions>
    <app-pokemon-herbs id="pokemonHerbs"></app-pokemon-herbs>
    <app-pokemon-type-matchups class="pokemonTypesWrapper"></app-pokemon-type-matchups>
</div>
<footer class="footer">
    By: <a href="https://github.com/kyle-undefined" target="_blank">Kyle Undefined</a> - 
    Design: CronikCRS - 
    Images: <a href="https://www.serebii.net/" target="_blank">Serebii</a> & <a href="https://www.flaticon.com/authors/creatype" target="_blank">Creatype</a> - 
    Data: <a href="https://github.com/favware/graphql-pokemon" target="_blank">GraphQL-Pokemon</a>
</footer>