name: Angular GitHub CI/CD
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
permissions:
  contents: write
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test:headless

      - name: Generate coverage report
        run: npm run test:coverage

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./coverage/lcov.info
          
      - name: Build project
        run: npm run build:prod

      - name: Deploy 
        if: success()
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/browser
